{% load semanticui %}

<table class="table table-hover">
    <!--<thead>
      <tr>
        <th> Question  </th>
        <th> Answers </th>
      </tr>
    </thead> -->
    <tbody>
{#    {% for form in response_form %}#}
        {% if response_form.field.widget.attrs.category == category.name or not response_form.field.widget.attrs.category %}
            <tr class="{% if response_form.errors %} danger {% endif %}">
                <td>
                    {% render_field  form.label %}
                    {% if response_form.field.required %}
                        <span class="glyphicon glyphicon-asterisk" style="color:red"> </span>
                    {% endif %}
                    <span class="help-inline" style="color:red">
	                <strong> {% for error in  response_form.errors %}{{ error }}{% endfor %} </strong>
	            </span> <br>
                    {% if response_form.field.widget.input_type == 'select' %}
                        <select name="{{ response_form.name }}"{% if response_form.field.widget.attrs.disabled %} disabled{% endif %}>
                    {% endif %}
                    {% for field in response_form %}
                        {{ field }} <br/>
                    {% endfor %}
                    {% if response_form.field.widget.input_type == 'select' %}
                        </select>
                    {% endif %}

                    {#            <div class="form-check form-check-inline">#}
                    {#              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">#}
                    {#              <label class="form-check-label" for="inlineRadio1">1</label>#}
                    {#            </div>#}

                </td>
            </tr>
        {% endif %}
{#    {% endfor %}#}
    </tbody>
</table>
