{% extends 'survey/base.html' %}
{% load i18n %}
{% load survey_extras %}
{% load static %}
{% load semanticui %}


{% block title %} {{ survey.name }} {% endblock title %}

{% block extrajs %}
    {{ response_form.media }}
    {% if asset_context.flatpickr %}
        <script type="text/javascript" src="{% static 'survey/js/flatpickr.min.js' %}"></script>
    {% endif %}
{% endblock %}

{% block extracss %}
    {% if asset_context.flatpickr %}
        {{ block.super }}
        <link href="{% static 'survey/css/flatpickr.min.css' %}" rel="stylesheet" type="text/css"/>
    {% endif %}
{% endblock %}



{% block body %}
    <h1> {{ survey.name }} </h1>
    <p>Embed: {{ embed }}</p>
    <p>step {{ step }}</p>
    <div class="survey-description"> {{ survey.description|safe }} </div>
    <div>
        {% if step and step != 0 %}

            <form class="ui form" action="



                    {% url 'survey-detail-step' slug=survey.slug step=step %}{% if query_params|length > 0 %}?{{ query_params }}{% endif %}"
                  method="post">
        {% else %}
            <form class="ui form" action="



                    {% url 'surveys:survey-detail-slug' slug=survey.slug %}{% if query_params|length > 0 %}?{{ query_params }}{% endif %}"
                  method="post">
        {% endif %}
        {% csrf_token %}
        <input type="" name="location" value="">
        {% for category in categories %}
            <h3> {{ category }} </h3>
            <p> {{ category.description }} </p>
            <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapse{{ category.slugify }}">
                        {% trans "Answer this part" %}
                    </a></h3>
                </div>
                <div class="category-container">
                    {#                    panel-collapse collapse #}
                    <div id="collapse{{ category.slugify }}"
                         class="{% if not survey.editable_answers and response_form.response is not None %}in{% endif %}
				        {{ response_form|collapse_form:category }}">
                        <div class="panel-body">
                            {% include "survey/question.html" %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <h3> {% trans "Questions" %} </h3>
            {% include "survey/question.html" %}
        {% endfor %}

        <br>
        {% if survey.editable_answers or response_form.response is None %}
            <input
                    class="btn btn-default btn-lg"
                    type="submit"
                    value="{% trans "I'm done!" %}"
            >
        {% endif %}
        </form>
        <script type="text/javascript">

                function listener(event) {
                    document.getElementsByName("location")[0].value = event.data;
                }

                if (window.addEventListener) {
                    window.addEventListener("message", listener);
                } else {
                    window.attachEvent("onmessage", listener);
                }
        </script>

    </div>
{% endblock %}
